{% extends 'baseB.html.twig' %}

{% block search %}
 <form method="POST" action="{{path('app_search')}}" class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" name="search" type="text" placeholder="Search">
                </form>
{% endblock %}

{% block content %}
 <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Users</p>
                                <h6 class="mb-0">{{utilisateurs|length}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Freelancers</p>
                                <h6 class="mb-0">{{freelancers|length}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Admins</p>
                                <h6 class="mb-0">{{admins|length}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Clients</p>
                                <h6 class="mb-0">{{clients|length}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Accounts creation rate</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Freelancers per Client</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue" height="100" width="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // Bar chart
  var ctx1 = document.getElementById('worldwide-sales').getContext('2d');
  var chart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: ['Admins', 'Freelancers','Clients'],
      datasets: [{
        label: 'Types',
        backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
        borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
        borderWidth: 1,
        data: [{{ admins|length }}, {{ freelancers|length }},{{clients|length}}]
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            fontColor: '#ccc'
          },
          gridLines: {
            color: '#ccc'
          }
        }],
        xAxes: [{
          ticks: {
            fontColor: '#ccc'
          },
          gridLines: {
            color: '#ccc'
          }
        }]
      },
      legend: {
        labels: {
          fontColor: '#ccc'
        }
      }
    }
  });
   var ctx2 = document.getElementById('salse-revenue').getContext('2d');
  var chart2 = new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: ['Clients', 'Freelancers'],
      datasets: [{
        label: 'Number',
         backgroundColor: ['#d9534f', '#f0ad4e'],
        borderColor: '#fff',
         data: [{{ clients|length }}, {{ freelancers|length }}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Clients vs Freelancers',
        fontColor: '#ccc'
      },
      legend: {
        labels: {
          fontColor: '#ccc'
        }
        
      }
      
    },width: 50,
    height: 50
  });
</script>

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Users List</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                  
             
    
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Image</th>
                <th scope="col">Email</th>
                <th scope="col">Date_n</th>
                <th scope="col">Sexe</th>
                <th scope="col">Num_tel</th>
                <th scope="col">Role</th>
                <th scope="col">Adresse</th>
                 <th scope="col">Banned</th>
                <th scope="col">Verified</th>
                <th scope="col">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for utilisateur in utilisateurs %}
                                <tr>
                                  <td scope="col"><input class="form-check-input" type="checkbox"></td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td><img src="{{asset(utilisateur.ImagePath)}}" height="100" width="120"/> </td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.dateN ? utilisateur.dateN|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.sexe }}</td>
                <td>{{ utilisateur.numTel }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>{{ utilisateur.adresse }}</td>
                 <td>{% if utilisateur.isBanned == 1 %}<span class="badge bg-danger">Yes{% else %}<span class="badge bg-success">No{% endif %}</td>
                    <td>{% if utilisateur.IsVerified == 1 %}<span class="badge bg-success">Yes{% else %}<span class="badge bg-danger">No{% endif %}</td>
              
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                    <hr>
                  {% if utilisateur.isBanned == 0 %}
    <a href="{{ path('app_user_ban', {'id': utilisateur.id}) }}" class="btn btn-danger btn-sm rounded-pill py-1 px-3"
       onclick="return confirm('Are you sure you want to ban this user?');">
        <i class="fas fa-ban mr-2"></i>Ban User
    </a>
{% endif %}

{% if utilisateur.isBanned == 1 %}
    <a href="{{ path('app_user_unban', {'id': utilisateur.id}) }}" class="btn btn-danger btn-sm rounded-pill py-1 px-3"
       onclick="return confirm('Are you sure you want to unban this user?');">
        <i class="fas fa-ban mr-2"></i>Unban User
    </a>
{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            
            <!-- Widgets End -->

 
              

  
{% endblock %}
